.mm_content {
	width: 450px;
	height: 50px;
	border-radius: 1rem;
	padding: 0.3rem;
	font-size: 1rem;
	border: 2px solid red;
	padding: 0.3rem;
}

.mm_title {
	width: 500px;
	height: 50px;
	border-radius: 1rem;
	font-size: 1.4rem;
	border: 2px solid red;
	padding: 0.3rem;
}
.preview {
	max-width: 100%;
	height: auto;
}

.imgBox2 {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
}
.oldImg {
	max-width: 300px;
	max-height: 300px;
	display: flex;
}

.dltBtn {
	align-items: center;
	justify-content: center;
	display: flex;
	color: white;
	margin-bottom: 0.8rem;
	height: 40px;
	width: 210px;
	border: 1px solid #bbb;
	background-color: #e61e39;
	border-radius: 0.34rem;
	font-size: 1rem;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}
