BDD_NAME=YOUR_BBD_NAME
BDD_USER=YOUR_BBD_USER
BDD_PASS=YOUR_BBD_PASSWORD

Ajouter les informations de connexion à la base de donnée via ces variables en changeant leur valeur et puis en renomant le fichier en .env