.formNewMessage1 {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.sendBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	height: 50px;
	width: 160px;
	color: white;
	background-color: #42b72a;
	border: 1px solid #bbb;
	border-radius: 0.34rem;
	font-size: 1.1rem;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

.inputBlocContent {
	height: 160px;
	width: 450px;
	border: 1px solid #bbb;
	border-radius: 0.34rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 600;
	font-size: 1rem;
	padding: 1rem;
}
.inputBlocTitle {
	height: 20px;
	width: 300px;
	border: 1px solid #bbb;
	border-radius: 0.34rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 700;
	font-size: 1rem;
	padding: 1.2rem;
}

.previewAdd {
	max-width: 350px;
	max-height: 350px;
	display: flex;
}

@media (max-width: 540px) {
	.hp_mainTitle {
		font-size: 1.5rem;
	}
	.newBtn {
		height: 35px;
		width: 290px;
		font-size: 1rem;
	}
	.inputBlocContent {
		width: 350px;
	}
}

@media (max-width: 430px) {
	.inputBlocContent {
		width: 300px;
	}
	.inputBlocTitle {
		width: 280px;
	}
	.previewAdd {
		width: 280px;
	}
}

@media (max-width: 400px) {
	.inputBlocContent {
		width: 300px;
	}
	.inputBlocTitle {
		width: 280px;
	}
}

@media (max-width: 350px) {
	.hp_mainTitle {
		font-size: 1.3rem;
	}
	.newBtn {
		width: 250px;
	}
	.inputBlocContent {
		width: 250px;
		height: 100px;
	}
	.inputBlocTitle {
		width: 250px;
		height: 18px;
	}
} ;
