.hp_container1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.backgroundPic2 {
	background: url("../../images/mac.jpg") no-repeat center center fixed;
	background-size: cover;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	/* Preserve aspet ratio */
}

.hp_mainTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	font-size: 3.5rem;
	margin: 2rem;
}
.logOutBtn {
	position: absolute;
	top: 4%;
	left: 80%;
	height: 50px;
	width: 150px;
	border: 1px solid #bbb;
	background-color: #e61e39;
	color: white;
	border-radius: 0.34rem;
	font-size: 1.1rem;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}
.createMessage {
	display: flex;
	flex-direction: column;
	font-family: "Roboto", "Sans serif";
	font-weight: 700;
	font-size: 1.2rem;
	align-items: center;
	justify-content: center;
	color: #000000;
}
.newBtn {
	margin-bottom: 0.8rem;
	height: 45px;
	width: 340px;
	border: 1px solid #bbb;
	background-color: #1877f2;
	color: white;
	border-radius: 0.34rem;
	font-size: 1.3rem;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

.homepage_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding: 3rem 1rem;
	padding: 3rem 1rem 4rem 1rem;
}
.hp_blocText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	width: 100%;
}
.hp_username {
	font-size: 1.1rem;
	position: relative;
	right: 40%;
	border: solid black 1px;
	border-radius: 12px;
	padding: 0.8rem;
}
.hp_title {
	font-size: 1.4rem;
	margin: 1rem;
	display: flex;
}

.hp_content {
	padding: 3%;
}

.hp_messagesBox {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
	border-radius: 1rem 1rem 1rem 1rem;
	box-shadow: 0 0 16px #0000002e;
	width: 700px;
}
.hp_imageBox {
	display: flex;
	border-radius: 1rem 1rem 1rem 1rem;
	box-shadow: 0 0 16px #0000002e;
	max-width: 375px;
}
.hp_img {
	height: 100%;
	object-fit: cover;
	border-radius: 1rem;
	width: 100%;
	object-position: bottom;
}
.hp_modifiers {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 1.8rem;
}
.hp_midContentBox {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hp_created {
	position: relative;
	right: 35%;
}
.hp_deleteBtn {
	color: white;
	margin-bottom: 0.8rem;
	height: 35px;
	width: 120px;
	border: 1px solid #bbb;
	background-color: #e61e39;
	border-radius: 0.34rem;
	font-size: 1rem;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}
.hp_modifyBtn {
	margin-bottom: 0.8rem;
	height: 35px;
	width: 120px;
	border: 1px solid #bbb;
	background-color: #ee7829;
	color: white;
	border-radius: 0.34rem;
	font-size: 1rem;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

.hp_linkComments {
	text-decoration: none;
	color: white;
}
.hp_linkCommentsBtn {
	margin-bottom: 0.8rem;
	height: 35px;
	width: 120px;
	border: 1px solid #bbb;
	background-color: #1877f2;
	border-radius: 0.34rem;
	font-size: 1rem;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}
