.hp_container1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.backgroundPic2 {
	background: url("../../images/mac.jpg") no-repeat center center fixed;
	background-size: cover;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	/* Preserve aspet ratio */
}
.hp_mainTitle {
	font-family: "Roboto", "Sans serif";
	font-weight: 500;
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem;
	color: #f1e9e9;
}
.logOutBtn {
	position: absolute;
	top: 4%;
	left: 80%;
	height: 50px;
	width: 150px;
	border: 1px solid #bbb;
	background-color: #e61e39;
	color: white;
	border-radius: 0.34rem;
	font-size: 1.1rem;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}
.createMessage {
	display: flex;
	flex-direction: column;
	font-family: "Roboto", "Sans serif";
	font-weight: 700;
	font-size: 1.2rem;
	align-items: center;
	justify-content: center;
	color: #000000;
}
.newBtn {
	height: 45px;
	width: 340px;
	border: 1px solid #bbb;
	background-color: #1877f2;
	color: white;
	border-radius: 0.34rem;
	font-size: 1.3rem;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

.homepage_container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.hp_messagesBox {
	width: 450px;
	height: 220px;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #f1e9e9;
	box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.52);
	-webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.52);
	-moz-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.52);
	overflow: hidden;
	border-radius: 0.4rem;
}
.hp_modifiers {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 45px;
}
